body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* got image from : https://www.vecteezy.com/free-vector/dark-pattern */
    background-image: url('.\\images\\repPatt..jpg');
}

header {
    background-color: #000000;
    /* color: #fff; */
    color:#ffffff;
    padding: 20px 0;
    text-align: center;
}

section {
    
    padding: 20px;
    margin-left: 500px;
    margin-right: 500px;
    /* margin: 10px 0; */
    background-color: #f4f4f4;
}

h1, h2, h3 {
    margin: 0;
    padding: 10px 0;
}

.project-link {
    display: block; /* Makes the anchor tag a block-level element */
    text-decoration: none; /* Removes the underline from the link */
    color: inherit; /* Ensures the text color is inherited */
}

.project {
    display: flex; /* Aligns the image and text side by side */
    align-items: center; /* Vertically aligns the image with the text */
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
}

.project-image {
    height: 100px; /* Set the height to 100 pixels */
    width: auto; /* Automatically adjust the width to maintain aspect ratio */
    margin-right: 20px; /* Add space between the image and text */
    border-radius: 8px; /* Optional: round the corners of the image */
}

.project-details {
    flex: 1; /* Ensures the text takes up the remaining space */
}

.project h3, .project p, .project a {
    margin: 5px 0;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#bio {
    display: flex; /* This places the text and image side by side */
    align-items: center; /* Aligns items vertically in the center */
    justify-content: space-between; /* Ensures space between text and image */
    background-color: #f4f4f4;
    padding: 20px;
    margin-left: 500px;
    margin-right: 500px;
}

.bio-content {
    flex: 2; /* Takes up more space */
    padding-right: 20px; /* Adds space between text and image */
}

.bio-image {
    flex: 1; /* Takes up less space */
}

.bio-image img {
    max-width: 100%; /* Ensures the image does not overflow */
    height: auto;
    border-radius: 8px; /* adds a slight roundness to the corners of the image */
}

